<html>
<h1>Buster's Best Bowling Alley</h1>
<<<<<<< HEAD
<h2>Bet You Can't Bowl A Strike Every Time</h2>
<p>97 Bowling Alley Lane, Boulder CO </p>
=======
>>>>>>> 797367161dcf8a0f34d927510ce67ab618f686be
</html>